
export(add_heatmap_track)
export(add_ideogram_track)
export(add_lines_track)
export(add_points_track)
export(add_rect_track)
export(add_segments_track)
export(add_track)
export(current_track)
export(get_cell_meta_data)
export(gtrellis_layout)
export(gtrellis_show_index)

import(GenomicRanges)
import(IRanges)
import(grid)
importFrom("GetoptLong", qq)
importFrom("GetoptLong", qq.options)
importFrom("GetoptLong", qqcat)
importFrom("circlize", cytoband.col)
importFrom("circlize", read.chromInfo)
importFrom("circlize", read.cytoband)
importFrom("grDevices", "as.raster", "dev.off")
importFrom("utils", "getFromNamespace")
